/server/php/potatoDocServer/nbproject/private/
*.lnk
desktop/insertFrame$2.class
*.~ava
desktop/potatoDocumentation Administration/build/classes/potatodocumentation/administration/DefineParcel.class
*.class
desktop/insertFrame.java