/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26.10.2015, 12:32:43
    Author     : Ochi
*/

#detailBox{
    -fx-background-color: #e8e8e8;
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-border-color: #999999;
}

.ListView{
    -fx-background-radius: 10.0;
}

.VBox {
    -fx-background-color: #cccccc;
}

#deleteButton{
    -fx-base: red;
    -fx-background-radius: 20;
}

#updateButton{
    -fx-base: blue;
    -fx-background-radius: 20;
}

#createButton{
    -fx-base: green;
    -fx-background-radius: 20;
}